# 概要
- 各データの期間について
- 予測対象となるauctionについて
- テストデータについて
- どのオークションがシステム的に候補から外れるか

In [130]:
from os.path import dirname
import os
import datetime

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [72]:
%load_ext autoreload
%autoreload 2
from utils import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
INPUT_DIR = os.path.join(os.getcwd(), "../../data/input/")

## 各データの期間について
- 20190924以降のデータが入っているテーブル
    - auction
    - brand

In [311]:
auction = pd.read_csv(INPUT_DIR + "auction.csv")
print(auction.shape)
print(auction["CreateDate"].max())
print(auction[["ShouhinID"]].nunique())
auction.head()

(4109559, 13)
2019-09-30 10:00:58
ShouhinID    3002614
dtype: int64

,AuctionID,ShouhinShubetsuID,ShouhinID,SaishuppinKaisuu,ConditionID,BrandID,GenreID,GenreGroupID,LineID,ColorID,DanjobetsuID,SankouKakaku,CreateDate
0,4066465,1,620477,334,6,494,321,312,0,15,0,4000,2019-07-27 09:31:34
1,622037,1,1146271,0,6,32,321,312,0,304,0,4500,2019-07-27 09:31:34
2,3447030,1,1069454,0,6,30,320,312,0,338,0,3000,2019-07-27 09:31:34
3,957658,1,661292,0,6,30,321,312,0,188,0,3500,2019-07-27 09:31:34
4,2496085,1,2207903,0,6,569,6,314,0,0,0,8000,2019-07-27 09:31:34

In [151]:
brand = pd.read_csv(INPUT_DIR + "brand.csv")
print(brand["CreateDate"].max())
brand.head()

2019-10-25 06:00:01

,BrandID,BrandName1,BrandName2,ModifyDate,CreateDate
0,1,アンテプリマ,ANTEPRIMA,2010-09-17 11:25:29,2010-09-10 12:06:39
1,2,アイグナー,AIGNER,2010-09-17 11:25:29,2010-09-10 12:06:39
2,3,アルマーニジーンズ,ARMANIJEANS,2010-09-17 11:25:29,2010-09-10 12:06:39
3,4,アルマーニエクスチェンジ,ARMANIEX,2010-09-17 11:25:29,2010-09-10 12:06:39
4,5,アナスイ,ANNA SUI,2010-09-17 11:25:29,2010-09-10 12:06:39

In [153]:
category = pd.read_csv(INPUT_DIR + "category.csv")
print(category["CreateDate"].max())
category

2010-09-15 14:55:36

    CategoryID CategoryName           ModifyDate           CreateDate
0            1          バッグ  2010-09-15 14:55:36  2010-09-15 14:55:36
1            2           財布  2010-09-15 14:55:36  2010-09-15 14:55:36
2            3         服飾雑貨  2010-09-15 14:55:36  2010-09-15 14:55:36
3            4       アクセサリー  2010-09-15 14:55:36  2010-09-15 14:55:36
4            5         トップス  2010-09-15 14:55:36  2010-09-15 14:55:36
5            6        ワンピース  2010-09-15 14:55:36  2010-09-15 14:55:36
6            7         ボトムス  2010-09-15 14:55:36  2010-09-15 14:55:36
7            8         アウター  2010-09-15 14:55:36  2010-09-15 14:55:36
8            9          スーツ  2010-09-15 14:55:36  2010-09-15 14:55:36
9           10            靴  2010-09-15 14:55:36  2010-09-15 14:55:36
10          11          腕時計  2010-09-15 14:55:36  2010-09-15 14:55:36
11          12           食器  2010-09-15 14:55:36  2010-09-15 14:55:36

In [154]:
color = pd.read_csv(INPUT_DIR + "color.csv")
print(color["CreateDate"].max())
color.head()

2010-04-02 13:25:07

   ColorID ColorName  ItemColorID           ModifyDate           CreateDate
0        1    オフホワイト            1  2010-04-02 13:25:06  2010-04-02 13:25:06
1        2  オフホワイト基調            1  2010-04-02 13:25:06  2010-04-02 13:25:06
2        3      アズール            1  2010-04-02 13:25:06  2010-04-02 13:25:06
3        4       パール            1  2010-04-02 13:25:06  2010-04-02 13:25:06
4        5   パールホワイト            1  2010-04-02 13:25:06  2010-04-02 13:25:06

In [155]:
danjobetsu = pd.read_csv(INPUT_DIR + "danjobetsu.csv")
print(danjobetsu["CreateDate"].max())
danjobetsu

2010-04-02 13:25:07

   DanjobetsuID DanjobetsuName           ModifyDate           CreateDate
0             1            メンズ  2010-04-02 13:25:07  2010-04-02 13:25:07
1             2          レディース  2010-04-02 13:25:07  2010-04-02 13:25:07
2             3         ユニセックス  2010-04-02 13:25:07  2010-04-02 13:25:07

In [156]:
genre = pd.read_csv(INPUT_DIR + "genre.csv")
print(genre["CreateDate"].max())
genre.head()

2010-09-07 00:00:00

,GenreID,GenreName,GenreGroupID,ItemShouID,CategoryID,ModifyDate,CreateDate
0,1,その他アクセサリー,1,36,4,2010-09-15 15:29:28,2010-04-02 13:25:06
1,2,アンサンブル,21,43,5,2010-09-15 15:29:28,2010-04-02 13:25:06
2,3,イヤリング,296,32,4,2010-09-15 15:29:28,2010-04-02 13:25:06
3,6,キーケース,314,12,2,2010-09-15 15:29:28,2010-04-02 13:25:06
4,7,キーホルダー,7,12,2,2010-09-15 15:29:28,2010-04-02 13:25:06

In [157]:
genregroup = pd.read_csv(INPUT_DIR + "genregroup.csv")
print(genregroup["CreateDate"].max())
genregroup.head()

2010-04-02 13:25:06

,GenreGroupID,GenreGroupName,ShouhinShubetsuID,ModifyDate,CreateDate
0,1,アクセサリー（他）,1,2010-04-02 13:25:06,2010-04-02 13:25:06
1,7,キーホルダー,1,2010-04-02 13:25:06,2010-04-02 13:25:06
2,9,コート,1,2010-04-02 13:25:06,2010-04-02 13:25:06
3,10,サングラス,1,2010-04-02 13:25:06,2010-04-02 13:25:06
4,13,ジャケット,1,2010-04-02 13:25:06,2010-04-02 13:25:06

In [158]:
itemshou = pd.read_csv(INPUT_DIR + "itemshou.csv")
print(itemshou["CreateDate"].max())
itemshou.head()

2010-09-07 00:00:00

,ItemShouID,ItemShouName,ItemDaiID,ModifyDate,CreateDate
0,1,ハンドバッグ,1,2010-04-02 13:25:06,2010-04-02 13:25:06
1,2,ショルダーバッグ,1,2010-04-02 13:25:06,2010-04-02 13:25:06
2,3,トートバッグ,1,2010-04-02 13:25:06,2010-04-02 13:25:06
3,4,セカンド・クラッチバッグ,1,2010-04-02 13:25:06,2010-04-02 13:25:06
4,5,リュックサック,1,2010-04-02 13:25:06,2010-04-02 13:25:06

In [159]:
line = pd.read_csv(INPUT_DIR + "line.csv")
print(line["CreateDate"].max())
line.head()

2019-08-06 11:17:07

,LineID,LineName,BrandID,ItemLineID,ModifyDate,CreateDate
0,1,エピ,114,7,2010-04-02 13:25:06,2010-04-02 13:25:06
1,2,タイガ,114,6,2010-04-02 13:25:06,2010-04-02 13:25:06
2,3,ダミエ,114,5,2010-04-02 13:25:06,2010-04-02 13:25:06
3,4,モノグラムマルチカラー,114,3,2010-04-02 13:25:06,2010-04-02 13:25:06
4,5,モノグラム,114,1,2010-04-02 13:25:06,2010-04-02 13:25:06

In [160]:
kaiin = pd.read_csv(INPUT_DIR + "kaiin.csv")
print(kaiin["CreateDate"].max())
kaiin.head()

2019-10-25 16:05:20

   KaiinID  RepeaterFlag SeinengappiDate           CreateDate
0   171036           1.0             NaN  2010-11-08 06:38:50
1   160541           0.0             NaN  2010-11-08 06:51:10
2   271092           NaN             NaN  2010-11-08 08:11:57
3   124089           NaN             NaN  2010-11-08 09:20:56
4   256950           NaN             NaN  2010-11-08 09:33:51

In [168]:
watchlist = pd.read_csv(INPUT_DIR + "watchlist.csv")
print(watchlist.shape)
print(watchlist["SakujoFlag"].value_counts())
print(watchlist["TourokuDate"].max())
watchlist.head()

(4165155, 4)
1    3921759
0     243396
Name: SakujoFlag, dtype: int64
2019-09-23 23:59:59

   KaiinID  AuctionID          TourokuDate  SakujoFlag
0   231713    1036190  2018-09-01 00:00:16           1
1   225585    4043640  2018-09-01 00:00:34           1
2    75217    3100882  2018-09-01 00:00:44           1
3    86693     655600  2018-09-01 00:00:51           1
4   267234    2607395  2018-09-01 00:01:09           1

In [169]:
shudounyuusatsu = pd.read_csv(INPUT_DIR + "shudounyuusatsu.csv")
print(shudounyuusatsu.shape)
print(shudounyuusatsu["SakujoFlag"].value_counts())
print(shudounyuusatsu["ShudouNyuusatsuDate"].max())
shudounyuusatsu.head()

(612516, 7)
1    612516
Name: SakujoFlag, dtype: int64
2019-09-23 23:59:09

,AuctionID,KaiinID,ShudouNyuusatsuDate,Kingaku,Suuryou,SokketsuFlag,SakujoFlag
0,3744587,227198,2018-09-01 21:40:44,18000,1,0,1
1,636604,116853,2018-09-01 18:56:28,20000,1,0,1
2,636604,258477,2018-09-01 19:46:13,20500,1,0,1
3,636604,116853,2018-09-01 19:54:17,22000,1,0,1
4,636604,258477,2018-09-01 20:47:49,21500,1,0,1

In [170]:
rakusatsu = pd.read_csv(INPUT_DIR + "rakusatsu.csv")
print(rakusatsu.shape)
print(rakusatsu["SakujoFlag"].value_counts())
print(rakusatsu["RakusatsuDate"].max())
rakusatsu.head()

(450242, 6)
0    450229
1        13
Name: SakujoFlag, dtype: int64
2019-09-23 23:59:52

   AuctionID  KaiinID        RakusatsuDate  Kingaku  Suuryou  SakujoFlag
0    3744587   227198  2018-09-01 21:50:00    18000        1           0
1    3150550   253112  2018-09-01 21:07:00    16500        1           0
2     636604   258477  2018-09-01 22:43:00    24500        1           0
3    2413186   227198  2018-09-01 21:31:00    26700        1           0
4    2786032    69415  2018-09-01 22:19:00   128905        1           0

In [164]:
nyuuka_oshirase = pd.read_csv(INPUT_DIR + "nyuuka_oshirase.csv")
print(nyuuka_oshirase["CreateDate"].max())
nyuuka_oshirase.head()

2019-09-23 23:56:18

,KaiinID,BrandID,CategoryID,GenreID,KaishikakakuLow,KaishikakakuHigh,ItemColorID,ConditionID,conditionFrom,conditionTo,SearchFullText,Size,MailSendFlag,CreateDate
0,273964,9712.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2019-09-01 00:06:25
1,64255,283.0,NaN,NaN,NaN,2000.0,NaN,NaN,7.0,4.0,NaN,NaN,0,2019-09-01 00:10:20
2,274994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ファー,NaN,0,2019-09-01 00:14:43
3,132156,7516.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2019-09-01 00:23:38
4,132156,1698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2019-09-01 00:23:38

In [165]:
search_log = pd.read_csv(INPUT_DIR + "search_log.tsv", sep="\t")
print(search_log["TourokuTime"].max())
search_log.head()

/Users/nobuyuki.ishida/.pyenv/versions/3.7.5/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2019-09-23 23:59:59

,SearchFullText,KensakuJouken,KensakuKekkaKenSuu,TourokuTime,Device,KaiinID,BrandID,CategoryID,ShinchakuFlag,ConditionID,Size,DanjobetsuID,Sozai,ColorID,PriceLow,PriceHigh
0,エクスプローラー,BrandID=118&SearchFullText=エクスプローラー&ItemOrder=...,0.0,2019-09-01 00:00:01,sp,NaN,118.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ボッテガヴェネタ,SearchFullText=ボッテガヴェネタ&ItemOrder=0&ItemDispla...,1596.0,2019-09-01 00:00:03,sp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,マンハッタンポーテージ,SearchFullText=マンハッタンポーテージ&ItemOrder=1&ItemDis...,66.0,2019-09-01 00:00:04,sp,102997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,マンハッタンポーテージ,SearchFullText=マンハッタンポーテージ&ItemOrder=1&ItemDis...,66.0,2019-09-01 00:00:04,sp,102997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11.5メンズ,BrandID=2010&SearchFullText=11.5メンズ&ItemOrder=...,0.0,2019-09-01 00:00:04,sp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 予測対象となるauctionについて

- 一週間で大体6000ユーザー、7万オークション、10万アクションくらい
- 予測対象となるオークションの60%程度が201907以降のオークション
    - 201907以降で約90万オークション
- 予測対象となるオークションの80%程度が201907以降にwatchされている？
- watchlistのアクション直近3月、オークション作成直近3月で絞ってもほとんどカバーできている様子
- 1月あたり約30万件のオークションがある
- 一週間にアクションを起こすユーザーは大体6000くらい
    - 学習データのレコードを1億程度にしようと思うと一人当たり16000レコードくらいにしなきゃいけない？

In [237]:
auction = pd.read_csv(INPUT_DIR + "auction.csv")
watchlist = pd.read_csv(INPUT_DIR + "watchlist.csv")
shudounyuusatsu = pd.read_csv(INPUT_DIR + "shudounyuusatsu.csv")

In [269]:
auction["CreateDate"] = pd.to_datetime(auction["CreateDate"], format="%Y-%m-%d %H:%M:%S")
auction_datepart = add_datepart(auction, "CreateDate", drop=False)
start_dt = datetime.datetime(2019, 9, 17, 0, 0, 0)
end_dt = datetime.datetime(2019, 9, 24, 0, 0, 0)

In [278]:
watchlist = to_datetime(watchlist)
shudounyuusatsu = to_datetime(shudounyuusatsu)
watchlist.rename(columns={"TourokuDate": "ActionDate"}, inplace=True)
shudounyuusatsu.rename(columns={"ShudouNyuusatsuDate": "ActionDate"}, inplace=True)
watch_nyuusatsu = pd.concat([watchlist, shudounyuusatsu], sort=False)

In [305]:
target_log = watch_nyuusatsu[(watch_nyuusatsu["ActionDate"] >= start_dt) & (watch_nyuusatsu["ActionDate"] <= end_dt)]
print(target_log[["KaiinID"]].nunique())
print(target_log[["AuctionID"]].nunique())
print(target_log.shape)

KaiinID    6344
dtype: int64
AuctionID    68682
dtype: int64
(97583, 8)

In [272]:
target_auctions = (
    target_log[["AuctionID"]]
    .drop_duplicates()
    .merge(auction, on="AuctionID", how="inner")
)
target_auctions = add_datepart(target_auctions, "CreateDate", drop=False)
target_auctions["CreateYearMonth"] = target_auctions["CreateYear"].astype(str) + target_auctions["CreateMonth"].astype(str)

In [309]:
print(target_auctions.shape)
print(target_auctions[["ShouhinID"]].nunique())
target_auctions["CreateYearMonth"].value_counts()

(68682, 23)
ShouhinID    68430
dtype: int64

20199     26033
20198     17360
20197     12991
20196      5381
20195      2788
20194      1421
20193       945
20191       379
20192       369
201811      326
201812      277
201810      265
20189        84
20188        63
Name: CreateYearMonth, dtype: int64

In [313]:
target_auctions[["ShouhinID"]].drop_duplicates().merge(auction, on="ShouhinID").shape

(125077, 13)

In [274]:
auction_datepart["CreateYearMonth"] = auction_datepart["CreateYear"].astype(str) + auction_datepart["CreateMonth"].astype(str)
auction_datepart["CreateYearMonth"].value_counts()

20197     474985
20196     347167
20199     279276
20183     273621
20198     247248
20182     242810
20184     241208
20185     221878
20195     184892
201810    179667
20193     173629
20186     173387
201811    156949
20194     147427
20187     146167
201812    143888
20192     142253
20191     121177
20188     119105
20189      92825
Name: CreateYearMonth, dtype: int64

In [275]:
target_watch  = target_auctions[["AuctionID", "CreateDate"]].merge(watchlist, on="AuctionID", how="inner")
target_watch = add_datepart(target_watch, "ActionDate", drop=False)
target_watch["ActionYearMonth"] = target_watch["ActionYear"].astype(str) + target_watch["ActionMonth"].astype(str)
target_watch[["ActionYearMonth", "AuctionID"]].drop_duplicates()["ActionYearMonth"].value_counts()

20199     66803
20198     18015
20197     10096
20196      5334
20195      2729
20194      1692
20193      1208
20192       760
20191       510
201812      337
201811      207
201810      115
20189        17
Name: ActionYearMonth, dtype: int64

In [289]:
target_watch.shape

(202848, 16)

In [295]:
(target_watch[
    (target_watch["CreateDate"] >= datetime.datetime(2019, 6, 1, 0, 0, 0)) |
    ((target_watch["ActionDate"] >= datetime.datetime(2019, 6, 17, 0, 0, 0)) & 
    (target_watch["ActionDate"] <= datetime.datetime(2019, 9, 17, 0, 0, 0)))][["AuctionID"]]
    .drop_duplicates().shape
)

(65568, 1)

In [302]:
watch_valid_aucs = watchlist[((watchlist["ActionDate"] >= datetime.datetime(2019, 6, 17, 0, 0, 0)) &
    (watchlist["ActionDate"] <= datetime.datetime(2019, 9, 17, 0, 0, 0)))][["AuctionID"]].drop_duplicates()
mst_valid_aucs = auction[auction["CreateDate"] >= datetime.datetime(2019, 6, 1, 0, 0, 0)][["AuctionID"]].drop_duplicates()
valid_aucs = watch_valid_aucs.merge(mst_valid_aucs, on="AuctionID")
valid_aucs.shape

(357282, 1)

## テストデータについて

- 予測対象ユーザーは6016

In [137]:
sample_sub = pd.read_csv(INPUT_DIR + "sample_submission.csv")

In [139]:
sample_sub[["KaiinID"]].nunique()

KaiinID    6016
dtype: int64

## どのオークションがシステム的に候補から外れるか

- 入札に含まれているオークションは落札とほぼ一致している

### 結論
- 落札に含まれているオークションは終了していると見なして除外する
- 他にもシステム的に候補に入っていないオークションが残っている可能性が高い(watchから確認できるかもしれない)

In [181]:
auction.shape

(4109559, 13)

In [187]:
print(rakusatsu.shape[0])
print(rakusatsu[["AuctionID"]].drop_duplicates().shape[0])

450242
450205

In [195]:
print(watchlist.shape[0])
print(watchlist[["AuctionID"]].drop_duplicates().shape[0])

4165155
1484732

In [196]:
print(shudounyuusatsu.shape[0])
print(shudounyuusatsu[["AuctionID"]].drop_duplicates().shape[0])

612516
453391

In [177]:
rakusatsu[["AuctionID"]].drop_duplicates().shape[0] == rakusatsu[["AuctionID"]].drop_duplicates().merge(auction, on="AuctionID").shape[0]

True

In [178]:
shudounyuusatsu[["AuctionID"]].drop_duplicates().shape[0] == shudounyuusatsu[["AuctionID"]].drop_duplicates().merge(auction, on="AuctionID").shape[0]

True

In [179]:
watchlist[["AuctionID"]].drop_duplicates().shape[0] == watchlist[["AuctionID"]].drop_duplicates().merge(auction, on="AuctionID").shape[0]

True

In [190]:
nyuusatsu_after_rakusatsu = (
    rakusatsu[["AuctionID", "RakusatsuDate"]]
    .drop_duplicates().merge(shudounyuusatsu, on="AuctionID")
    .query("RakusatsuDate <= ShudouNyuusatsuDate")
)

In [191]:
nyuusatsu_after_rakusatsu[["AuctionID"]].drop_duplicates().shape

(15418, 1)

In [197]:
rakusatsu[["AuctionID"]].drop_duplicates().merge(shudounyuusatsu[["AuctionID"]].drop_duplicates(), on="AuctionID").shape

(450138, 1)

In [193]:
watch_after_rakusatsu = (
    rakusatsu[["AuctionID", "RakusatsuDate"]]
    .drop_duplicates().merge(watchlist, on="AuctionID")
    .query("RakusatsuDate <= TourokuDate")
)

In [194]:
watch_after_rakusatsu[["AuctionID"]].drop_duplicates().shape

(5748, 1)